.intro-block {
    text-align: center;
    margin: 0;
}

.intro-block__img-cloud__position_top {
    padding-top: 100px;
    margin-right: 60%;
}

.intro-block__img-cloud__position_top:hover {
    margin-right: 20%;
}

.intro-block__img-photo {
    margin-left: 35%;
}

.intro-block__img-photo:hover {
    transform: rotate(0.05turn);
}

.intro-block__text-greetings {
    color: #66bfbf;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    line-height: 3.5rem;
    margin: 0px 30% 0px 0px;
}

.intro-block__text-job-function {
    color: #66bfbf;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    line-height: 1rem;
    margin: 10px 30% 0px 0px;
}

.intro-block__img-cloud__position-bottom {
    margin: 0px 0px 0px 70%;
}

.intro-block__img-cloud__position-bottom:hover {
    margin: 0px 0px 0px 50%;
}











