 body {
     background-color: #eaf6f6;
     text-align: center;
     font-family: sun-serif;
     line-height: 1.5rem;
     color: #363b4e;
     margin: 0;
 }

 hr {
     border-color: #fcfefe;
     border-style: none;
     border-top-style: dotted;
     border-width: 6px;
     width: 10%;
     margin: 60px auto 60px auto;
 }

 hr:hover {
    width: 20%;
 }

 h1 {
     color: #66bfbf;
 }

 h3 {
     color: #66bfbf;
 }

 a {
     color: #eaf6f6;
 }

 .footer {
     background-color: #66bfbf;
     width: 100%;
     height: 200px;
 }


 .light-text {
     color: #eaf6f6;
 }




