.table-block {
    text-align: left;
    vertical-align: top;
    width: 50%;
    margin: 0rem auto 0rem auto;
}

.table-block__text-header {
    color: #66bfbf;
    vertical-align: top;
    padding: 0px 2rem 2rem 0px;
}

.table-block__table__text-content:hover {
    color: #00818a;
}

.table-block__table__text-content_small {
    font-size: 0.85rem;
}

.table-block__table__text-content td {
    vertical-align: top;
    padding: 0px 2rem 2rem 0px;
}




